* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
  background-image: url("https://sun9-36.userapi.com/impg/viIqR_dq5CwHJkP4-WctrxyXVu8NQN6I_4u6Zg/RxeXjAtAVmM.jpg?size=1280x854&quality=95&sign=99f6f38fd4f4011bb145aa3439fdaf3f&c_uniq_tag=U5EyvSLqlQf-Kk1WOk3QV0C9ifhb9fU-tfw46Mbd2YU&type=album");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-header {
  background-image: url("https://sun9-36.userapi.com/impg/viIqR_dq5CwHJkP4-WctrxyXVu8NQN6I_4u6Zg/RxeXjAtAVmM.jpg?size=1280x854&quality=95&sign=99f6f38fd4f4011bb145aa3439fdaf3f&c_uniq_tag=U5EyvSLqlQf-Kk1WOk3QV0C9ifhb9fU-tfw46Mbd2YU&type=album");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.section-content {
  background-image: url("https://sun9-36.userapi.com/impg/viIqR_dq5CwHJkP4-WctrxyXVu8NQN6I_4u6Zg/RxeXjAtAVmM.jpg?size=1280x854&quality=95&sign=99f6f38fd4f4011bb145aa3439fdaf3f&c_uniq_tag=U5EyvSLqlQf-Kk1WOk3QV0C9ifhb9fU-tfw46Mbd2YU&type=album");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list__item {
  width: 30%;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.list__img {
  width: 100%;
  display: block;
}

.list__video {
  display: none;
  width: 100%;
}

.list__item:hover .list__img {
  display: none;
}

.list__item:hover .list__video {
  display: block;
}

@media(max-width:1240px) {
  .container {
    width: 350px;
  }

  .section {
    background-repeat: repeat;
    background-size: 100%;
  }

  .list__item {
    width: 100%;
  }
}